{% extends 'base/main.html' %}
{% load static %}
{% block content %}

<div class="container">
    <h3>Add Endorsement</h3>
    <form method="POST">
        {% csrf_token %}
        <label for="exampleInputPassword1" class="form-label">{{form.name.name}}</label>
        {{form.name}}
        <label for="exampleInputPassword1" class="form-label">{{form.body.name}}</label>
        {{form.body}}
        {% if request.user.is_authenticated %}
            <label for="exampleInputPassword1" class="form-label">{{form.approved.name}}</label>
            {{form.approved}}
        {% endif %}

        {% comment %} {% for field in form %}
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">{{field.label}}</label>
            {{field}}
            {% if request.user.is_authenticated %}
                {{field}}
            {% endif %}
        </div>
        {% endfor %} {% endcomment %}
        <input class="btn btn-primary" type="submit" value="submit">
    </form>
</div>
{% endblock content %}